html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100%; /* Set the width to 100% to ensure content fits within the screen */
  }
  
  body {
    background-color: #f9fafc;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    
    
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1b1b1b;
    height: 10vh;
    z-index: 999;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /* Add justify-content to center the items horizontally */
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-top: 5vh; /* 1080px to 1600px = 4.6875vh */
    padding-right: 8vw; /* 1920px to 2560px = 7.5vw */
    padding-bottom: 0;
    padding-left: 8vw;
    text-decoration: none;
    font-size: 2vh; /* 1920px to 2560px = 1.3vw */
    font-family: 'Arial', sans-serif;
  }
  /* Add styles for the icon image */


  
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  nav ul li.active a {
    text-decoration: underline;
  }
  
  header {
    height: 50vh;
    background: linear-gradient(to top, #131313, #1b1b1b); /* Darker gradient from dark purple to black */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 18.75vh; /* 1080px to 1600px = 18.75vh */
  }
  

  .blue-text {
    color: #5beec0;
    text-decoration-color: #5beec0;
    overflow: hidden;
    white-space: nowrap;
    position: relative; /* Add position relative to create a reference for absolute positioning */
  }

  .blue-text::after {
    content: ''; /* Use a pseudo-element for the blinker */

    margin-right: -10px; /* Adjust the margin to move the blinker farther away */
    border-right: 0.4vw solid #5beec0; /* Make the blinker thinner */
    padding-left: 1vw; /* Add padding to move the other text away from the blinker */
    animation: blink-caret 0.5s step-end infinite;
  }

  @keyframes blink-caret {
    from, to {
      opacity: 0; /* Make the blinker invisible at the start and end */
    }
    50% {
      opacity: 1; /* Make the blinker visible in the middle of the animation */
    }
  }


  
  .LandingTextContainer {
    display: flex;
    align-items: center;
  }
  
  
  
  .LandingText {
    font-size: 4.5vw;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    letter-spacing: 0.35vw;

    line-height: 6vw;
    text-align: center;
    animation-fill-mode: both;
    font-family: 'Arial', sans-serif;
    color: #f2f2f2cb;

    text-align: center;
  }
  

  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #section1 {
    background-color: #f9fafc;
    height: 80vh;
    padding-top: 18.75vh; /* 1080px to 1600px = 18.75vh */
  }
  
  #section2 {
    background-color: #f9fafc;
    text-align: center;
    padding-bottom: 100px;
    height: 130vw;
  }
  

  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

    
  }
  .textbox p {
    width: 50vw;
    padding: 20px;
    font-size: 1.8vw;
    color: #1f2d3c;
    text-align: left;
    margin-left: 3.90625vw; /* 1920px to 2560px = 3.90625vw */
    font-family: 'Arial', sans-serif;
    text-indent: 5vw;
  }
  .textbox h3 {
    width: 50vw;
    padding: 20px;
    font-size: 2.3vw;
    padding-left: 7.5vw;
    color: #1f2d3c;
    text-align: left;
    margin-left: 3.90625vw; /* 1920px to 2560px = 3.90625vw */
    font-family: 'Arial', sans-serif;
  }
  
  .gallery {
  justify-content: center;
   align-items: center;
   display: grid;

   
  }
  /* Style for the .goals element */


  
/* Style for the .gallery h2 element */
.gallery h2 {
  font-size: 4vw;
  color: #1f2d3c;
  font-family: 'Arial', sans-serif;
  text-align: center; /* Center-align the text horizontally within its container */
  background-color: #5beebfcf; /* Background color for highlighting */
  padding: 0.1vw; /* Add padding for a better highlight effect */
  border-radius: 1vw; /* Rounded background edges */
  width: 23.5vw; /* Specify a different width if needed */
}
.goals h1 {
  font-size: 3vw;
  color: #1f2d3c;
  font-family: 'Arial', sans-serif;
  font-weight: bolder;

  

}

.goals h3 {
  font-size: 2.5vw;
  color: #1f2d3c;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  margin: 0;
  
  
}

/* Style for the .goals element inside .gallery */
.gallery .goals {
  width: 75vw;

  background-color: #88888823; /* Gray background color */
  padding-right: 4vw;
  padding-left: 4vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  border-radius: 1.5vw; /* Rounded corners */
  display: flex;
  flex-direction: column; /* Arrange h1 and h3 vertically */
  align-items: flex-start; /* Align text to the left */
  text-align: left;
}


  /* Additional styles for contact section */
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9fafc; /* Light off-white background color */
    z-index: 9999;
}

.loading-spinner {
    border: 1vw solid #f2f2f2; /* Dark gray color */
    border-top: 1vw solid #1f2d3c; /* Blue color */
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  
  .hidden {
    
    opacity: 0;
  }
  
  .show {
    animation: slideIn 1s ease-in-out forwards; /* Slide out animation */
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Move the element back to its original position */
    }
  }
  
 
  
  iframe {
   width: 30vw;
   height: 50vw;
    
  }
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }
    .textbox{
      padding-top: 5vw;
    }

    #section1{
      height: 170vh;
    }
    iframe{

      height: 120vw;
      width: 75vw;
    }

    
    body {
        overflow-x: hidden; /* Disable horizontal scrolling */
    }
    .LandingText{
      line-height: 10vw;
        font-size: 7vw;
        font-weight: bold;
        width: 80vw;
        height: 50vw;
        white-space: normal; /* Allow line breaks on smaller viewports */
    }
    nav ul li a {
        padding-right: 5vw;
        padding-left: 5vw;

    }

    /* Reset the flex-direction to column for "About Me" section */
    #section2 .content {
        flex-direction: column;
        align-items: center; /* Center align items vertically */
    }

    .textbox {

       align-items: left;

    }
    .blue-text::after {

      border-right: 0.7vw solid #5beec0; /* Make the blinker thinner */
    }
    .textbox p {
        
        font-size: 3.5vw; /* Increase the font size for the paragraph */
        line-height: 1.4; /* Adjust line-height for better readability */
        text-align: left;
        width: 80vw;
    }

    .textbox h3 {
        font-size: 4.5vw; /* Increase the font size for the heading */
        text-align: left;
        width: 80vw;
    }
    .gallery .goals {
      width: 60vw;
    }
    .gallery h2 {
      font-size: 8vw;
      width: 50vw;
     
    }
    .goals h1 {
      font-size: 4.5vw;
    
      
    
    }
    
    .goals h3 {
      font-size: 3.8vw;
      
      
    }
    #section2{
       height:230vh;
    }
}
